/*colors*/
/*normalize*/
@import "mics/normalize.css" screen;
/*breakpoints*/
/*setup*/
@import url(mics/mixins.css);
html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%; }

/* .container_center{
	margin: 0 auto;
} */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 58.75rem;
  width: 95%; }

.section {
  height: 100vh;
  min-height: 40.625rem; }

.section_centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .section_centered .container {
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .section_centered .title {
    width: 100%;
    text-align: center; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: Gagalin-Regular;
  src: url(../fonts/Gagalin-Regular.otf);
  /*url(../fonts/Lifehack-Medium.otf);*/
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url(../fonts/Lifehack-Medium.otf);
  font-weight: 500;
  font-style: normal; }
/*block*/
.header {
  padding-top: 0.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 0.8125rem; }
  .menu__item:after {
    content: "";
    margin: 0 0.625rem;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    display: inline-block;
    background: #ffffff; }
  .menu__item:last-child:after {
    display: none; }

.menu__item a {
  color: #ffffff;
  text-decoration: none; }

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav {
  color: #ffffff;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  margin-right: 1.875rem; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.section.hero {
  background: url(../img/texture.png) no-repeat, url(../img/bg.png) no-repeat;
  background-size: cover; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.hero__content-description {
  color: #ffffff;
  font-family: Lifehack;
  font-size: 4.0625rem;
  line-height: 3.75rem;
  margin: 0; }
  @media screen and (max-width: 480px) {
    .hero__content-description {
      font-size: 3.375rem; } }

.hero__burger-image {
  max-width: 100%;
  max-height: 100%; }

.hero__content-image,
.hero__content-text {
  width: 50%; }

.hero__content-text {
  padding-top: 7.1875rem;
  padding-left: 0.75rem; }
  @media screen and (max-width: 768px) {
    .hero__content-text {
      text-align: center;
      padding-top: 0;
      width: 100%; } }

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative; }

.down-arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  width: 3.75rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .down-arrow:hover .down-arrow__icon {
    margin-top: -0.9375rem;
    width: 2.8125rem;
    height: 2.8125rem; }

.down-arrow__icon {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: .3s;
  transition: .3s;
  fill: #fff; }

.button {
  background: #e45028;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
  color: #ffffff;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  padding: 0.5rem 0.9375rem;
  font-size: 0.8125rem;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

.btn_bg_black {
  background: #000; }

.btn_bg_order {
  background: transparent;
  margin-left: 0.3125rem; }

.title {
  font-family: Gagalin-Regular;
  color: #f8b43a;
  font-size: 4.5rem;
  margin: 0;
  line-height: 3.9375rem;
  margin-bottom: 2.8125rem; }

.title__white {
  color: #fff; }

.wrapper .title__left {
  text-align: left; }
  @media screen and (max-width: 768px) {
    .wrapper .title__left {
      text-align: center; } }

.best {
  background: url(../img/bg_best.png) center center/cover no-repeat; }
  .best .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.best__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9375rem;
  text-align: center; }
  .best__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .best__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.best__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 480px) {
    .best__img {
      width: 30%; } }

.best__icon {
  width: 90%;
  height: 6.25rem; }
  .best__icon svg {
    max-width: 95%; }

.best__desc-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: lifehack;
  padding-top: 1.75rem; }

.best__desc-content {
  padding-top: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: Ubuntu; }

@media screen and (max-width: 480px) {
  .best__desc {
    text-align: left;
    width: 70%; } }

.reviews {
  background-color: #000;
  position: relative; }

.reviews__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background: center center/cover no-repeat;
  position: relative;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
  .reviews__item:hover .reviews__item-hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__item-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.25rem;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }
  @media screen and (max-width: 768px) {
    .reviews__item-hover {
      text-align: center; } }

.reviews__title {
  font-family: Gagalin-Regular;
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding-bottom: 0.625rem;
  padding-top: 2.5rem;
  letter-spacing: 0.1em; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      padding-top: 0.9375rem;
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .reviews__title {
      padding-bottom: 22px; } }

.reviews__text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.reviews__popup {
  display: none;
  width: 460px;
  /* height: 256px; */
  background: #fff;
  color: #2f3234;
  border-radius: 4px;
  padding: 24px 18px 30px 18px;
  left: 50%;
  top: 50%;
  margin-left: -230px;
  margin-top: -123px; }
  .reviews__popup .close-icon {
    width: 15px;
    height: 15px;
    fill: #e45028; }
  .reviews__popup .reviews__title {
    padding-top: 0; }

.reviews__popup.opened {
  display: block;
  position: absolute; }
  .reviews__popup.opened .reviews__text {
    display: block; }
  @media screen and (max-width: 480px) {
    .reviews__popup.opened {
      left: 0;
      margin-top: -86px;
      margin-left: 0;
      width: auto; } }

.order {
  background: url(../img/bg_order.jpg) center center/cover no-repeat; }
  .order .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.8125rem; }
  .form__row:first-child {
    padding-top: 0; }
  @media screen and (max-width: 480px) {
    .form__row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.form__block {
  margin-right: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .form__block:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.form__block-input {
  border-radius: 0.3125rem;
  background: #fff;
  border: none;
  width: 100%;
  padding: 0.4375rem 0.625rem;
  outline: none;
  border: 0.125rem solid transparent; }
  .form__block-input:focus {
    border: 0.125rem solid #f8b43a; }

.form__block-textarea {
  border-radius: 0.3125rem;
  background: #fff;
  border: none;
  width: 100%;
  padding: 0.3125rem 0.625rem;
  outline: none;
  border: 0.125rem solid transparent;
  height: 6.8125rem;
  resize: none; }
  .form__block-textarea:focus {
    border: 0.125rem solid #f8b43a; }

.form__block-title {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-bottom: 0.1875rem; }

.order__form-left_block, .order__form-right_block {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .order__form-left_block, .order__form-right_block {
      width: auto;
      padding-left: 0;
      padding-right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 3.125rem; }
  @media screen and (max-width: 768px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.order__form-left_block {
  padding-right: 0.625rem; }
  @media screen and (max-width: 768px) {
    .order__form-left_block {
      padding-left: 0;
      padding-right: 0; } }

.order__form-right_block {
  padding-left: 0.625rem; }
  @media screen and (max-width: 768px) {
    .order__form-right_block {
      padding-left: 0;
      padding-right: 0; } }

.form__block-submit:focus {
  outline: none; }

.error {
  color: red;
  font-size: 12px;
  position: absolute; }

.radio__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .radio__group {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.radio {
  margin-right: 0.9375rem;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .radio {
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .radio:fisrt-child {
      margin-right: 0.3125rem; } }

.radio__input {
  opacity: 0;
  position: absolute; }

.radio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.radio__btn {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 0.3125rem; }
  .radio__btn:after {
    border-radius: 50%;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #e45028;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0;
    -webkit-transition: 0.3;
    transition: 0.3; }

.radio__text {
  color: #fff; }

.radio__input:checked + .radio__content .radio__btn:after {
  opacity: 1; }

.radio__group {
  line-height: 1.6; }

.checkboks {
  margin-right: 0.625rem; }

.checkbox__input {
  opacity: 0;
  position: absolute; }

.checkbox__input:checked + .checkbox__content .checkbox__btn img {
  opacity: 1; }

.checkbox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.checkbox__btn {
  position: relative;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #fff;
  margin-right: 0.3125rem; }
  .checkbox__btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.6875rem;
    height: 0.5625rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0; }

.checkbox__text {
  color: #fff;
  font-size: 0.875rem; }

.section_menu {
  position: relative;
  padding: 5.9375rem;
  background: url("../img/bg_menu.png") 50% 50%/cover no-repeat; }
  @media screen and (max-width: 768px) {
    .section_menu {
      padding: 1.875rem 1.25rem; } }

.accordion-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%; }

.accordion-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  height: 100%; }

.accordion-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .accordion-menu__item.active .accordion-menu__text {
    max-width: 31.25rem; }

.accordion-menu__link {
  position: relative;
  display: block;
  width: 3.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .accordion-menu__link span {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-10%, 0) rotate(-90deg);
            transform: translate(-10%, 0) rotate(-90deg);
    color: #fff;
    font-family: Gagalin-Regular;
    font-size: 2.5rem;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    white-space: nowrap; }

.accordion-menu__text {
  background-color: rgba(57, 59, 60, 0.9);
  color: #fff;
  overflow: hidden;
  max-width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .accordion-menu__text span {
    padding: 2.1875rem;
    display: inline-block;
    width: 31.25rem; }
    @media screen and (max-width: 768px) {
      .accordion-menu__text span {
        width: auto; } }

.section_team {
  background: url(../img/bgteam.jpg) center top/cover #393b3c;
  position: relative; }

.team__block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba(57, 59, 60, 0.9); }
  @media screen and (max-width: 768px) {
    .team__block {
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.team__inner-block {
  padding: 7.0625rem 3.125rem 3.125rem 6.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team__inner-block {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 1.875rem 0; } }

.team__item-name {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: Gagalin-Regular;
  font-size: 0.875rem;
  line-height: 2.008;
  padding-bottom: 1.375rem; }
  .team__item-name:before {
    position: absolute;
    content: url(../img/icons/triangle.svg);
    width: 0.5625rem;
    height: 0.375rem;
    left: -1.125rem; }

.team__item.active .team__item-name {
  color: #f8b43a; }
  @media screen and (max-width: 768px) {
    .team__item.active .team__item-name {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; } }
  .team__item.active .team__item-name:before {
    position: absolute;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 1.25rem; }
    @media screen and (max-width: 768px) {
      .team__item.active .team__item-name:before {
        top: 1.5rem; } }

.team__item.active .team__item-info {
  height: 100%; }

.team__item {
  color: #fff; }

.team__item-info {
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.714;
  font-size: 0.875rem;
  font-family: "Ubuntu"; }
  @media screen and (max-width: 768px) {
    .team__item-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.team__item-position {
  font-weight: bold; }

.team__item-photo {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%; }

.team__item-desc {
  max-width: 15.875rem; }

.team__item-text {
  padding-left: 1.3125rem;
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .team__item-text {
      padding-left: 0; } }

@media screen and (max-width: 768px) {
  .team__item-position {
    padding: 0.8125rem 0; } }

.team__item.active .team__item-info {
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem; }

@media screen and (max-width: 768px) {
  .team__list {
    text-align: center; } }

.section_contacts {
  position: relative;
  background: transparent url("../img/map.png") center center/cover no-repeat; }

.footer {
  background: #2f3234 url("../img/bgcontacts.png") center center/cover no-repeat;
  position: absolute;
  bottom: 0;
  color: #fff;
  left: 0;
  right: 0;
  font-size: 0.875rem;
  line-height: 1.714; }

.contacts__tel {
  position: relative;
  color: #e45028;
  font-weight: bold; }
  .contacts__tel:before {
    content: url("../img/icons/phone.svg");
    position: absolute;
    left: 0rem;
    top: -0.1875rem; }
    @media screen and (max-width: 480px) {
      .contacts__tel:before {
        top: 0.125rem; } }

.contacts__tel {
  padding-left: 1rem; }

a[href^="tel:"] {
  color: #e45028;
  text-decoration: none; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.625rem 5rem 0.625rem 5rem; }
  @media screen and (max-width: 768px) {
    .footer__container {
      padding: 0.625rem 1.5rem 0.625rem 1.5rem; } }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

@media screen and (max-width: 480px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.social-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0; }

.social-block__item {
  padding-left: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-block__item:first-child {
    padding-left: 0; }

.social-block__item img {
  width: 1.4375rem;
  height: 1.25rem; }

.social-block__item img:hover {
  opacity: 0.5; }

.humburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .humburger-menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (max-width: 480px) {
    .humburger-menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.humburger-menu-link__bar {
  background: transparent url("../img/icons/humburger_icons.svg") center center no-repeat;
  height: 22px;
  width: 24px; }

.fixed-menu {
  position: fixed;
  top: 90px;
  right: 20px; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }
  @media screen and (max-width: 480px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  position: relative;
  border-radius: 50%;
  margin-bottom: 20px; }
  .fixed-menu__item:hover {
    border-color: #fff;
    cursor: pointer; }
  .fixed-menu__item:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff; }

.section_slider {
  position: relative;
  background: #f9b43b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(51%, #eb8c38), to(#f9b43b));
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 51%, #f9b43b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
  /* IE6-9 */ }
  .section_slider .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.slider {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .slider {
      padding-top: 40px;
      padding-bottom: 40px; } }

.slider__list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider__col_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px; }

.slider__img {
  max-width: 100%;
  max-height: 80%; }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.slider__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1.25rem; }

.slider__text {
  color: #fff;
  font-size: 0.875rem;
  font-family: "Ubuntu";
  line-height: 1.714;
  margin-bottom: 3.125rem; }
  @media screen and (max-width: 768px) {
    .slider__text {
      text-align: center; } }

.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .slider__info {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.slider__cost {
  font-family: "Gagalin";
  color: #e45028;
  font-size: 1.875rem;
  margin-right: 1.875rem; }
  .slider__cost span {
    font-size: 2.5em;
    line-height: 1.75rem; }

.slider__arrow_icon {
  width: 1.75rem;
  height: 1rem; }

.slider__arrows {
  position: absolute;
  width: 100%; }

.slider__arrow_left {
  position: absolute;
  left: -0.5rem;
  -webkit-transform: rotate(90deg) translate(27%, 0%);
          transform: rotate(90deg) translate(27%, 0%);
  cursor: pointer; }

.slider__arrow_right {
  position: absolute;
  right: -0.5rem;
  -webkit-transform: rotate(-90deg) translate(26%, 0%);
          transform: rotate(-90deg) translate(26%, 0%);
  cursor: pointer; }

.slider__kkal {
  position: absolute;
  bottom: 25px;
  left: 25px; }
  @media screen and (max-width: 768px) {
    .slider__kkal {
      left: auto;
      bottom: auto;
      top: 0;
      right: 0; } }

.kkal_icon {
  width: 70px;
  height: 76px; }

.composition {
  position: absolute;
  left: 0.625rem;
  top: 0rem;
  cursor: pointer; }
  .composition:hover .composition__drop {
    opacity: 1; }
  .composition:hover .composition__btn {
    background-color: #e45028; }

.composition__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3125rem;
  width: 5.625rem;
  height: 5.625rem;
  background-color: #f08c33;
  color: #fff; }

.composition__btn_icon {
  width: 3.125rem;
  height: 3.125rem;
  fill: #fff; }

.composition__drop {
  position: absolute;
  left: 5.625rem;
  top: 0;
  border-radius: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1.25rem;
  opacity: 0;
  -webkit-transition: opacity 0.3;
  transition: opacity 0.3; }

.composition__list {
  display: table; }

.composition__item {
  display: table-row; }

.composition__icon,
.composition__text,
.composition__weight {
  display: table-cell;
  vertical-align: middle;
  padding-right: 0.625rem; }

.composition__text {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 0.875rem; }

.composition__weight {
  font-weight: 300;
  white-space: nowrap; }

.mobile-menu {
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile-menu {
      background-color: rgba(47, 50, 52, 0.99);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%; }
      .mobile-menu.opened {
        position: fixed;
        opacity: 1;
        bottom: 0;
        display: block; } }

.mobile-menu__logo {
  padding: 0.5625rem;
  position: absolute;
  top: 0;
  left: 0; }

@media screen and (max-width: 768px) {
  .mobile-menu__list {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 768px) {
  .mobile-menu__item {
    position: relative;
    padding: 0.9375rem; }
    .mobile-menu__item:after {
      content: "";
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      display: inline-block;
      background: #ffffff;
      position: absolute;
      bottom: 0%;
      left: 50%; }
    .mobile-menu__item:last-child:after {
      display: none; } }

@media screen and (max-width: 768px) {
  .menu__link {
    color: #fff;
    text-transform: uppercase;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    list-style-type: none;
    text-decoration: none; } }

.close_x {
  position: absolute;
  top: 2rem;
  right: 2rem;
  fill: #fff;
  width: 1.25rem;
  height: 1.25rem; }

.close_btn {
  width: 1.25rem;
  height: 1.25rem; }

.close-icon {
  width: 0.9375rem;
  height: 0.9375rem; }

.form-popap {
  display: none;
  opacity: 0;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 196px;
  margin-left: -98px;
  margin-top: -56px; }
  .form-popap.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    opacity: 1;
    top: 50%;
    left: 50%; }

.form-popap__text {
  padding-bottom: 20px; }

/*# sourceMappingURL=main.css.map */