/*colors*/
$yellow: #f8b43a;
$red: #e45028;

/*normalize*/
@import "mics/normalize.css" screen;


/*setup*/
@import "mics/fonts.css" ;
@import "mics/mixins.css" ;
@import "./mics/layout.scss" ;

@font-face{
	font-family: Gagalin-Regular, /*Lifehack, Ubuntu*/;
	src:url(../fonts/Gagalin-Regular.otf);
		/*url(../fonts/Lifehack-Medium.otf);*/
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url(../fonts/Lifehack-Medium.otf);
    font-weight: 500;
    font-style: normal;
}



/*block*/
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/button.scss";
@import "./blocks/title.scss";
@import "./blocks/best.scss";
@import "./blocks/reviews.scss";
@import "./blocks/order.scss";
@import "./blocks/radio.scss";
@import "./blocks/checkboks.scss";
@import "./blocks/menu.scss";
@import "./blocks/accordion-menu.scss";


.fixed-menu{
	position: fixed;
	top: 90px;
	right: 20px;
}
.fixed-menu__item{
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid transparent;
	position: relative;
	border-radius: 50%;
	margin-bottom: 20px;

	&:hover{
		border-color:#fff;
		cursor: pointer;
	}

	&:after{
		content:"";
		position:absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: #fff;

	};
}