/*colors*/
$yellow: #f8b43a;
$red: #e45028;

/*normalize*/
@import "mics/normalize.css" screen;


/*breakpoints*/
$tablets: 768px;
$phones: 480px;
@import "./mics/media.scss";

/*setup*/
//@import "mics/fonts.css" ;
@import "mics/mixins.css" ;
@import "./mics/layout.scss" ;


@font-face{
	font-family: Gagalin-Regular, /*Lifehack, Ubuntu*/;
	src:url(../fonts/Gagalin-Regular.otf);
		/*url(../fonts/Lifehack-Medium.otf);*/
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url(../fonts/Lifehack-Medium.otf);
    font-weight: 500;
    font-style: normal;
}



/*block*/
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/button.scss";
@import "./blocks/title.scss";
@import "./blocks/best.scss";
@import "./blocks/reviews.scss";
@import "./blocks/order.scss";
@import "./blocks/radio.scss";
@import "./blocks/checkboks.scss";
@import "./blocks/menu.scss";
@import "./blocks/accordion-menu.scss";
@import "./blocks/team.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social-block.scss";
@import "./blocks/humburger-menu-link.scss";
@import "./blocks/fixed-menu.scss";
@import "./blocks/slider.scss";
@import "./blocks/composition.scss";
@import "./blocks/mobile-menu.scss";
@import "./blocks/close.scss";
@import "./blocks/form-popap.scss";


