/*colors*/
/*normalize*/
@import "mics/normalize.css" screen;
/*setup*/
@import url(mics/fonts.css);
@import url(mics/mixins.css);
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px; }

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  min-width: 940px; }

.container {
  width: 940px;
  margin: 0 auto; }

.section {
  height: 100vh;
  min-height: 650px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

@font-face {
  font-family: Gagalin-Regular;
  src: url(../fonts/Gagalin-Regular.otf);
  /*url(../fonts/Lifehack-Medium.otf);*/
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url(../fonts/Lifehack-Medium.otf);
  font-weight: 500;
  font-style: normal; }
/*block*/
.header {
  padding-top: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 13px; }
  .menu__item:after {
    content: "";
    margin: 0 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    background: #ffffff; }
  .menu__item:last-child:after {
    display: none; }

.menu__item a {
  color: #ffffff;
  text-decoration: none; }

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav {
  color: #ffffff;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.section.hero {
  background: url(../img/texture.png) no-repeat, url(../img/bg.png) no-repeat;
  background-size: cover; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9; }

.hero__content-description {
  color: #ffffff;
  font-family: Lifehack;
  font-size: 65px;
  line-height: 60px;
  margin: 0; }

.hero__content-text {
  padding-left: 12px; }

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.nav_page {
  background: url(../img/icons/arrow-scroll.svg) no-repeat 50%;
  height: 14px; }

.button {
  background: #e45028;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  padding: 8px 15px;
  font-size: 13px;
  text-decoration: none; }

.hero__order_btn {
  margin-left: 15px; }

.title {
  font-family: Gagalin-Regular;
  color: #f8b43a;
  font-size: 72px;
  margin: 0;
  line-height: 1.1em; }

/*# sourceMappingURL=main.css.map */