html {
	font-size: 16px;
	
	  @include tablets() {
	    font-size: 14px;
	  }

	  @include phones() {
	    font-size: 12px;
	  }
}
body{
	font-family: 'Ubuntu', sans-serif;
	//font-size: rem(13px);
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	width: 100%;
	// min-width: rem(940px);
}
/* .container_center{
	margin: 0 auto;
} */
.container{
	display: flex;
	max-width: rem(940px); 
	width: 95%;
}
.section {
    height: 100vh;
    min-height: rem(650px);
}
.section_centered{
	.container{
		margin: 0 auto;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.title{
		width: 100%;
		text-align: center;
	}
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: normal;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}
ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
*{
	box-sizing: border-box;
}