.section_menu{
	position: relative;
	/* padding: 5.9375rem; */
	background: url("../img/bg_menu.png") 50% 50% /cover no-repeat;

	@include tablets {
		padding: rem(30px) rem(20px);
	}

	.title__white{
		padding: 5.9375rem;

		@include tablets {
			padding: rem(25px);
		}
	}
}
.accordion-menu{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
}
.accordion-menu__list{
	display: flex;
	justify-content: stretch;
	height: 100%;
}
 .accordion-menu__item {
 	display: flex;

 	&.active {
 		.accordion-menu__text{
 			max-width: rem(500px);
 		}
 	}
 }

.accordion-menu__link{
	position: relative;
	display: block;
	width: rem(60px);
	flex: 1 0 auto;
	

	span{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-10%, 0) rotate(-90deg);
		color: #fff;
		font-family: Gagalin-Regular;
		font-size: rem(40px);
		transform-origin: 0 0;
		white-space: nowrap;
	}
}
.accordion-menu__text{
	background-color: rgba(#393b3c, 0.9);
	color: #fff;
	overflow: hidden;
	max-width: 0;
	transition: 0.3s;

	span{
		padding: rem(35px);
		display: inline-block;
		width: rem(500px);

		@include tablets {
			width: auto;
		}
	}


}