
.button {
	background: $red;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: rem(4px);
    text-align: center;
    color: #ffffff;
    align-items: flex-end;
    text-transform: uppercase;
    padding: rem(8px) rem(15px);
    font-size: rem(13px);
    text-decoration: none;
    width: max-content;
}
.btn_bg_black{
	background: #000;	
}
.btn_bg_order{
	background: transparent;
	margin-left: rem(5px);
}