
.button {
	background: $red;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    align-items: flex-end;
    text-transform: uppercase;
    padding: 8px 15px;
    font-size: 13px;
    text-decoration: none;
}

.hero__order_btn {
    margin-left: 15px;
}

.btn_bg_black{
	background: #000;	
}
