.close_x{
	position: absolute;
	top: rem(32px);
    right: rem(32px);
    fill: #fff;
    width: rem(20px);
    height: rem(20px);

}
.close_btn{
	width: rem(20px);
	height: rem(20px);
}
.close-icon{
	width: rem(15px);
	height: rem(15px);
}