.header{
	padding-top: rem(12px);
    justify-content: space-between;
}
.header, .menu__list {
	display: flex;
}

.menu__item{
	display: flex;
	align-items: center;
	text-transform: uppercase;
    font-size: rem(13px);

	&:after {
		content: "";
		margin: 0 rem(10px);
		width: rem(6px);
		height: rem(6px);
		border-radius: 50%;
		display: inline-block;
		background: #ffffff;
	}
	&:last-child{
		&:after{
			display: none;
		}
	};
}
.menu__item a{
	color: #ffffff;
	text-decoration: none;
}
.header__buttons{
	display: flex;
	align-items: center;
}

.nav{
	color: #ffffff;
	align-self: flex-start;
}
.header__links{
	display: flex;
}
.menu{
	flex:1;
	text-align: right;
	margin-right: rem(30px);

	@include tablets{
		display: none;
	}
}