.section.hero {
	background: url(../img/texture.png) no-repeat,
				url(../img/bg.png) no-repeat;
	background-size: cover;
}
.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
	flex: 0.9;

	@include tablets {
		flex-direction: column;
	}
	@include phones {
		flex-direction: column;
	}
}
.hero__content-description {
    color: #ffffff;
    font-family: Lifehack;
    font-size: rem(65px);
    line-height: rem(60px);
    margin: 0;
    	@include phones () {
    	    font-size: rem(54px);
  		}
}
.hero__burger-image{
	max-width: 100%;
	max-height: 100%;
}
.hero__content-image,
.hero__content-text {
  width: 50%;
  @include tablets() {
    //width: auto;
  }
} 
.hero__content-text {
	padding-top: rem(115px);
    padding-left: rem(12px);

    @include tablets{
    	text-align: center;
    	padding-top: 0;
      width: 100%;
	}
}
.hero__container{
	display: flex;
	flex-direction: column;
	height: 100%;
  position: relative;
}
