.order{
	background: url(../img/bg_order.jpg) center center /cover no-repeat;
}
.form__row{
	display: flex;
	padding-bottom: 13px;

	&:first-child{
		padding-top: 0;
	}
}

.form__block{
	margin-right: 20px;
	flex: 1;

	&:last-child{
		margin-right: 0;
	}; 
}
.form__block-input{
	border-radius: 5px;
	background: #fff;
	border: none;
	width: 100%;
	padding: 7px 10px;
	outline: none;
	border: 2px solid transparent;

	&:focus{
			border: 2px solid $yellow;
	}
}
.form__block-textarea{
	border-radius: 5px;
	background: #fff;
	border: none;
	width: 100%;
	padding: 5px 10px;
	outline: none;
	border: 2px solid transparent;
	height: 109px;
	resize:none;

	&:focus{
			border: 2px solid $yellow;
	}
}
.form__block-title {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 3px;
}
.left_block, .right_block {
    width: 50%;
}
.form {
    display: flex;
    margin: 0px 50px;
}
.left_block{
	padding-right: 10px;
}
.right_block {
	padding-left: 10px;
}

.form__block-submit:focus{
	outline: none;
}
