.order{
	background: url(../img/bg_order.jpg) center center /cover no-repeat;
	.container{
    	justify-content: center;
}}
.form__row{
	display: flex;
	padding-bottom: rem(13px);

	&:first-child{
		padding-top: 0;
	}

	@include phones {
		justify-content: center;
	}
}

.form__block{
	margin-right: rem(20px);
	flex: 1;

	&:last-child{
		margin-right: 0;
	}; 

	@include tablets {
		display: flex;
		flex-direction: column;
	}
}
.form__block-input{
	border-radius: rem(5px);
	background: #fff;
	border: none;
	width: 100%;
	padding: rem(7px) rem(10px);
	outline: none;
	border: rem(2px) solid transparent;

	&:focus{
			border: rem(2px) solid $yellow;
	}
}
.form__block-textarea{
	border-radius: rem(5px);
	background: #fff;
	border: none;
	width: 100%;
	padding: rem(5px) rem(10px);
	outline: none;
	border: rem(2px) solid transparent;
	height: rem(109px);
	resize: none;

	&:focus{
			border: rem(2px) solid $yellow;
	}
}
.form__block-title {
    color: #fff;
    font-size: rem(14px);
    line-height: rem(24px);
    padding-bottom: rem(3px);
}
.order__form-left_block, .order__form-right_block {
    width: 50%;
      
     @include tablets {
		width: auto;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		flex-direction: column;
	}
}

.order__form {
    display: flex;
    margin: rem(0px) rem(50px);

    @include tablets {
		flex-direction: column;
    }
}
.order__form-left_block{
	padding-right: rem(10px);

	 @include tablets {
		padding-left: 0;
		padding-right: 0;
	}
}
.order__form-right_block {
	padding-left: rem(10px);

	 @include tablets {
		padding-left: 0;
		padding-right: 0;
	}
}

.form__block-submit:focus{
	outline: none;
}
.error {
    color: red;
    font-size: 12px;
    position: absolute;
}