.radio__group{
	display: flex;

	@include phones {
	    flex: 1;
	    display: flex;
	    justify-content: space-between;
}}
.radio{
	margin-right: rem(15px);
	font-size: rem(14px);

	@include phones {
		margin-right:0;
	}
	&:fisrt-child {
		@include phones {
			margin-right: rem(5px);
		}
	}
}
.radio__input{
	opacity: 0;
	position: absolute;
}
.radio__content{
	display: flex;
	align-items:center;
}
.radio__btn{
	position: relative;
	width: rem(16px);
	height: rem(16px);
	border-radius: 50%;
	background-color: #fff;
	margin-right: rem(5px);

	&:after{
		border-radius: 50%;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $red;
		width: rem(8px);
		height: rem(8px);
		opacity: 0;
		transition:0.3;
	}
}
.radio__text {
	color: #fff;
}
.radio__input:checked + .radio__content .radio__btn:after{
	opacity: 1;
}

.radio__group{
	line-height: 1.6;
}