.section_slider{
	position: relative;
	background: #f9b43b; /* Old browsers */
	background: -moz-linear-gradient(top, #f9b43b 0%, #eb8c38 51%, #f9b43b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f9b43b 0%,#eb8c38 51%,#f9b43b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f9b43b 0%,#eb8c38 51%,#f9b43b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); /* IE6-9 */

	.container{
		justify-content: center;
	}
}
.slider{
	position: relative;
	// height: rem(475px);    нужна ли она?
	align-items: center;
    display: flex;
    overflow: hidden;

	@include tablets {
		padding-top: 40px;
		padding-bottom: 40px;
		}	
}
.slider__list{
	height: 100%;
	width: 100%;
	display: flex;
}
.slider__col_img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 150px;

}
.slider__img{
	max-width: 100%;
	max-height: 80%;
	// @include tablets {
	// 	max-width: 100%;
 //    	max-height: 80%;
	// }	
}
.slider__item{
	display: flex;
	height: 100%;
	// margin: 0 rem(-10px);

	flex-shrink: 0;  //??
	width: 100%;  //??

	@include tablets {
		flex-direction: column;
	}
}
.slider__col{
	flex:1;
	margin: 0 rem(20px);
}
.slider__text{
	color: #fff;
	font-size: rem(14px);
	font-family: "Ubuntu";
	line-height: 1.714;
	margin-bottom: rem(50px);

	@include tablets {
		text-align: center;
	}
}

.slider__info{
	display: flex;
	align-items: flex-end;

	@include tablets {
		justify-content: center;
	}
}
.slider__cost{
	font-family: "Gagalin";
	color: $red;
	font-size: rem(30px);
	margin-right: rem(30px);

	span{
		font-size: 2.5em;
		line-height: rem(28px);
		
	}
}

.slider__arrow_icon{
	width: rem(28px);
	height: rem(16px);
}
.slider__arrows{
	position: absolute;
	width: 100%;
}

.slider__arrow_left{
    position: absolute;
    // left: rem(-30px);
    left: rem(-8px);
    transform: rotate(90deg) translate(27%, -0%);
    cursor: pointer;
}
.slider__arrow_right{
	position: absolute;
    // right: rem(-30px);
    right: rem(-8px);
    transform: rotate(-90deg) translate(26%, 0%);
    cursor: pointer;
}

.slider__kkal{
	position: absolute;
    bottom: 25px;
    left: 25px;

    @include tablets {
    	left: auto;
    	bottom: auto;
		top: 0;
    	right: 0;
	}
}
.kkal_icon {
	width: 70px;
    height: 76px;
} 