
.title{
		font-family: Gagalin-Regular;
		color: $yellow;
		font-size: rem(72px);
		margin: 0;
		line-height: rem(63px);
		margin-bottom: rem(45px);
}
.title__white{
	color: #fff;
}
.wrapper .title__left{
	text-align: left;

	@include tablets {
		text-align: center;
	}	
}